name: Generate Another Snake

on:
  schedule:
    - cron: "0 0 * * *"   
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: hcao10
          outputs: |
            assets/github-contribution-grid-snake.svg

      - name: Commit and push
        uses: EndBug/add-and-commit@v9
        with:
          add: assets/github-contribution-grid-snake.svg
          message: "Update snake animation"
